
<div class="header">
    <button type="button" (click)="onHomeClick()" class="btn btn-home">  Home </button>
    <h2> Device Details - {{ deviceId }} </h2>
</div>

<!--
<table class="d3-table">
    <thead>
        <th> Timestamp </th>
        <th> Parts Per Minute </th>
        <th> Status </th>
        <th> Device Id </th>
        <th> Order </th>
    </thead>
    <tbody>
        <tr *ngFor="let detail of deviceDetails">
            <td>
                {{ detail.timestamp }}
            </td>
            <td>
                {{ detail.partsPerMinute }}
            </td>
            <td>
                {{ detail.status }}
            </td>
            <td>
                {{ detail.deviceId }}
            </td>
            <td>
                <a [routerLink]="['/order', detail.order]"> {{ detail.order }} </a>
            </td>
        </tr>

    </tbody>
</table>
-->

<div #tableContainer></div>