
<div class="header">
    <button type="button" (click)="onHomeClick()" class="btn btn-home">  Home </button>
    <h2> Order Details - {{ orderNumber }} </h2>
</div>

<!--
<table class="d3-table">
    <thead>
        <th> Order Number </th>
        <th> Production Target </th>
        <th> Production State </th>
    </thead>
    <tbody>
        <tr>
            <td>
                {{ orderDetails.orderNumber }}
            </td>
            <td>
                {{ orderDetails.productionTarget }}
            </td>
            <td>
                {{ orderDetails.productionState }}
            </td>
        </tr>
    </tbody>
</table>
-->

<div #tableContainer></div>